<script>
	$('#all').css({'border-radius':'5px', 'border':'2.5px solid #f36d74', 'color':'white'});
</script>

<div class='container' id='graphs-index'>
	<h1>All Public Graphs</h1><br>
	<% @graphs.each do |graph| %>
		<a href="/graphs/show/<%= graph.id %>">
			<img class="thumbnail" src="<%= graph.preview %>" style="max-width: 155px;">
		</a>
	<% end %>
</div>