<script>showGraph();</script>

<div class='container' id='show-graph' data-graphid='<%= @graph.id %>'>
	<div id='graph-buttons-container'>
<!-- 		<div id="actions">
			<a class='button' id="downloadLnk" download="MyGraph.jpg">Download Graph</a>
		</div> -->
		
		<div id='graph-container'>
			<h3 id='graph-title'></h3>
			<canvas id="graph" width="800" height="800"></canvas>
		</div>
	</div>
</div>