<script>
	$('#my').css({'border-radius':'5px', 'border':'2.5px solid #ab47c4', 'color':'white'});
</script>

<h1>My Graphs</h1>

<div class='container' id='my-graphs'>
	<% @user.graphs.each do |image| %>
		<a href="/graphs/edit/<%= image.id %>">
			<img class="thumbnail" src="<%= image.preview %>" style="max-width: 155px;"><br>
		</a>
	<% end %>
</div>