/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: url('http://i.imgur.com/d8P5LMa.gif');
}

#graphs-new {
	margin: 50px auto;
}

.button {
	border: 1px solid black;
	padding: 7px;
	font-weight: bold;
}

#actions {
	margin: 20px 202px;
	margin-bottom: 10px;

}

#thumbnail {
	float: right;
	width: 10%;
}

#graph {
	display: block;
	margin: 0 202px;
	border: 1px solid black;
	/*how to have an image as a cursor. thinking it'd be best to save this line to db for each swatch color then change cursor that way when swatch is selected*/
	/*cursor:url(http://i.imgur.com/cH9fFOA.gif), auto;*/
}

#color-palette {
	width: 990px;
	margin: 0 149px;
}

/*---------21 swatches---------*/
.swatch {
	display: inline-block;
	width: 25px;
	height: 45px;
	padding: 0;
	margin: -3px;
	/*border: 2px solid white;*/
}



/*-------------------Event Handlers------------------*/

.swatch:hover, .activeSwatch {
	border: 2px solid black;
}

