/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*-----------------------------Global Styling ------------------------*/
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

body {
	width: 100%;
	background-image: url('http://i.imgur.com/WEGFPca.png');
	font-family: Lato, sans-serif;
}

.button, .button:visited, #submit {
	background: none;
	color: #242425;
	text-decoration: none;
	border: 1px solid black;
	padding: 7px;
	font-weight: bold;
}

/*-----------------------------Specific Styling ------------------------*/

#graphs-new, #show-graph {
	text-align: center;
}


#graph-buttons-container {
	display: inline-block;
	margin: 75px auto;
	text-align: right;
}

#graph-container {
	float: right;
}

#color-palette {
	background: white;
	float: left;
	width: 75px;
	padding: 5px;
	padding-top: 0;
	/*border: 1px solid black;*/
	/*margin: 0 5px;*/
}

#swatch-head {
	background: #313132; 
	color: white; 
	letter-spacing: 1.5px; 
	font-size: 14px; 
	font-weight: 300; 
	text-align: center; 
	margin: 0 0; 
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	border-right: 1px dashed #b6b6b6;
	padding: 17px 0;
}

#graph-title {
	background: #313132;
	color: white; 
	font-size: 24px; 
	font-weight: 300; 
	text-align: center; 
	margin: 0 auto; 
	padding: 10px 0; 
	clear: both;
}

/*---------21 swatches---------*/
.swatch {
	float: left;
	width: 25px;
	height: 45px;
	padding: 0;
}

#preview {
	float: right;
}

#thumbnail {
	clear: both;
	max-width: 10%;
}


#actions {
	margin-bottom: 12px;
}


#graph {
	display: block;
	border: 1px solid black;
}

/*-------------------Event Handlers------------------*/

.swatch:hover, .activeSwatch {
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
	border: 2px solid white;
}

.button:hover {
	cursor: default;
	background-color: rgba(255, 255, 255, .4);
	border: 1px solid #6ab0f8;
}

.button:active, #submit:active {
	cursor: default;
	background: #242425;
	color: #609ff8;
}

