<!DOCTYPE html>
<html>
<head>
  <title>GraphKnitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="color_palette"><div class="swatch" id="801d73"></div><div class="swatch" id="2dad6b"></div><div class="swatch" id="ff9159"></div></div>
<canvas id="graph" width="800" height="800" style="border: 3px solid #e19562"></canvas>

</body>
</html>
